* {
    background-color: #283437;
}

#refresh-btn {
    height: 48px;
    width: 48px;
    background-color: rgb(137,143,144);
    border-radius: 2px;
    border: white solid 2px;
    background-image: url("/public/refresh.png");
    background-size: contain;
    transition: 1s;
}

#refresh-btn:hover {
    transform: rotate(180deg);
    border-radius: 50%;
    cursor: pointer;
}